
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
		background: rgb(164, 29, 218);
		height: 100%;
	}

	h1 {
		color: rgb(0, 250, 237);
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 100;
	}
	label{
		color: rgb(0, 250, 237);
		font-size: 5rem;	
	}
	p{
		color: rgb(0, 250, 237);
		font-size: 3rem;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
